/* -- CSS Reset -- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	scroll-behavior:smooth;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* -- General Styles -- */
h1, h2, h3, h4{
	font-family: 'Raleway', sans-serif;
}

h3, h4, h5{
	color: #212529;
}

h5, h6, p, form {
	font-family: 'Open Sans', sans-serif;
}

h2{
	font-size: 30px;
	color: #009b56;
	font-weight: 700;
	line-height: 30px;
}

h3{
	font-size: 26px;
	color: #212529;
}

h4{
	font-size: 23px;
	font-weight: 700;
	line-height: 30px;
	padding: 8px 0;
}

h5{
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	padding: 4px 0;
}

h6{
	font-size: 1.3rem;
	line-height: 26px;
}

p{
	font-size: 1.3rem;
	color: #212529;
	line-height: 26px;
}

.btn-primary, .services-list .list {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

svg {
	width: 4rem;
	height: 4rem;
}

.accordion {
	margin-bottom: 3rem;
}

.card-header {
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 0;
	padding: 0.5rem 0;
}

.mx-sm-3 {
	margin-left: 0!important;
	margin-right: 0!important;
}

.card-header > button {
	text-align: initial;
	background-color: #fff;
	font-size: 1.3rem;
}

.btn.focus, .btn:focus {
	box-shadow: 0 0 0 0;
}

.card-body {
	text-align: justify;
	font-size: 1.3rem;
}
/* Link Style */
a:link {
    color: #fff;
    text-decoration: none;
}


/* -- Logo Holder Styles -- */
.logo-holder{
	width: 100%;
	padding-top: 10px;
}

.logo-holder h4 span{
	color: #f9cd46;
}

.logo-holder img {
	max-width:300px;
	max-height:70px;
	width: auto;
	height: auto;
}

.logo-holder h4{
	color: #fff;
	float: right;
	font-weight: 300;
	line-height: 50px;
	padding: 0;
}


/* -- Header Section Styles -- */
header{
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
                url('../images/viagem-carro-familia.webp') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 740px;
}

/* -- Hero Section -leadgen- Styles -- */
.hero{
	position:relative;
	right:0;
	left:0;
	top:30%;
	transform:translateY(-30%);
}

.display-none {
	display: none;
}

.hero-text{
	margin-top: 120px;
}

.hero-text h1{
	font-size: 66px;
	font-weight: 700;
	color: #fff;
	line-height: 70px;
}

.hero-text h1 .big-title{
	font-size: 118px;
	color: #f9cd46;
	font-weight: 900;
}

.hero-text h2{
	color: #fff;
	font-size: 41px;
	font-weight: 700;
	line-height: 22px;
}

.hero-text p{
	color: #fff;
	margin-top: 40px;
	letter-spacing: 0.6px;
}

.hero-text p .color-name {
	color: #009b56;
	font-weight: 900;
	font-size: 22px;
}

.color-name {
	color: #009b56;
	font-weight: 900;
	font-size: 1.4rem;
	/*text-decoration: underline #009b56 0.1rem;*/
}

.arrow {
	text-align: center;
	margin-top: 10%;
}

.hero-form{
	background-color: #f9cd46;
	text-align: center;
	padding: 2rem;
	border-radius: 6px;
}

.hero-form h2 {
	font-size: 34px;
	font-weight: 800;
	color: #202020;
}

.badge {
	font-size: 25px;
}

.hero-form p {
	color: #202020;
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	padding: 1rem 0;
	margin: 1rem 0;
}

.checked-icon {
margin-right: 1rem;
}

.btn-primary {
font-size: 20px;
font-weight: 900;
font-family: 'Raleway', sans-serif;
background: #009b56;
border-color: #009b56;
}

.btn-primary:hover {
background-color: #009b56;
border-color: #009b56;
}

.hero-form > p{
color: #202020;
font-weight: 300;
padding-top: 10px;
}

.form-message{
color: white;
display: none;
}
.form-msg{
color: #202020;
}

.form-msg-error{
color: red;
}

/* -- Clients Section Styles -- */

.clients{
	background-color: #202020;
	width: 100%;
	padding: 20px 0;
}

.clients h6{
	color: #fff;
	opacity: 0.5;
	padding-top: 8px;
}

.clients-logos {
	float: right;
}

.clients img {
padding-top: 6px;
opacity: 0.8;
padding-bottom: 8px;
}

.clients img:hover{
	opacity: 1;
}

/* -- Features Styles -- */

.features{
	margin-top: 3rem;
}

.features .container{
	/*background-image: url('../images/take-care-your-car.webp');*/
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 80px;
}

.features-title {
	margin-bottom: 2.5rem;
}

.features h4{
	color: #202020;
}

.features-list {
	margin-top: 36px;
}

.features-list svg{
	float: left;
	margin-right: 10px;
}


/* -- Contact Details Styles -- */

.contact {
	background-color: #009b56;
	padding: 20px 0;
	text-align: center;
}

.whatsapp-action {
	position:fixed;
	width: 5rem;
	height: 5rem;
	bottom: 3rem;
	right: 3rem;
	background-color:#25d366;
	border-radius: 3rem;
	z-index:1000;
	padding: 1rem;
}

.contact h2, .contact h3, .contact h4{
	color: #fff;
}

.contact h4{
	font-weight: 300;
}

.contact h2{
	font-size: 25px;
	padding: 8px 0;
	line-height: 40px;
}

.contact h3{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	line-height: 30px;
	padding-top: 10px;
}

.message-get-it-now {
	margin-top: 10px;
}


/* -- Services Styles -- */

.services {
	margin-top: 100px;
	margin-bottom: 90px;
}

.elementor-icon svg {
	fill: #009b56;
	line-height: 1;
	transition: all .3s;
	text-align: center;
	max-width: 50px;
}

.list-group-icon svg {
	fill: #009b56;
	line-height: 1;
	transition: all .3s;
	text-align: center;
	max-width: 2rem;
}

.services-title {
	margin-bottom: 30px;
}

.title {
	margin-bottom: 2.5rem;
}

.services-title h2 {
	padding: 8px 0;
}

.services-list {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
}

.services-list .list {
	text-align: center;
	background-color: #f4f4f4;
	padding: 70px 20px;
}

.border-bottom-solid-1-green {
	border-bottom: 1px solid #009b56;
}

.services-list .list:hover{
	background-color: #009b56;
	fill: #FFFFFF;
}
.services-list .list:hover svg{
	fill: #f4f4f4;
}
.services-list .list:hover h4,
.services-list .list:hover p {
	color: #fff;
}

.services-list .list img{
	margin-bottom: 8px;
	height: 44px;
}


/* -- Offer Styles -- */

.offer {
	text-align: center;
	margin-bottom: 100px;
}
.offer h2 {
	font-size: 25px;
	padding: 8px 0;
	line-height: 40px;
}

.offer .btn-primary{
	font-size: 32px;
	font-weight: 800;
	border: none;
	color: #212529;
	line-height: 20px;
	padding-bottom: 24px;
	font-family: 'Raleway', sans-serif;
	background-image: -webkit-linear-gradient(top, #ffc600, #F2B900);
  	background-image: -moz-linear-gradient(top, #ffc600, #F2B900);
  	background-image: -ms-linear-gradient(top, #ffc600, #F2B900);
 	background-image: -o-linear-gradient(top, #ffc600, #F2B900);
 	background-image: linear-gradient(to bottom, #ffc600, #F2B900);
}

.offer a span{
	font-size: 16px;
	font-weight: 300;
}


/* -- Reviews Styles -- */

.reviews {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 70px;
	background-color: #f0f0f0;
}

.img-thumbnail {
	width: 100px;
	height: 100px;
}

.reviews-title {
	margin-bottom: 50px;
}

.reviews-title h2 {
	padding: 8px 0;
}

.reviews-list {
	margin-top: 40px;
}

.reviews-list-row{
	padding-bottom: 40px;
	border-bottom: 1px solid #c4c4c4;
}

.reviews-list p{
	margin-top: 10px;
	color: #212529;
}

.faq-list {
	background-color: #f4f4f4;
	padding: 70px 20px;
}

/* -- Footer Hero Styles -- */

.footer-hero h2{
	font-size: 40px;
	line-height: 60px;
	color: #fff;
}

.footer-hero .btn-primary {
	font-size: 40px;
	font-weight: 900;
	border: none;
	color: #212529;
	line-height: 18px;
	padding-top: 34px;
	padding-bottom: 34px;
	margin-top: 36px;
	font-family: 'Raleway', sans-serif;
	background-image: -webkit-linear-gradient(top, #ffc600, #F2B900);
  	background-image: -moz-linear-gradient(top, #ffc600, #F2B900);
  	background-image: -ms-linear-gradient(top, #ffc600, #F2B900);
 	background-image: -o-linear-gradient(top, #ffc600, #F2B900);
 	background-image: linear-gradient(to bottom, #ffc600, #F2B900);
}


/* -- Footer Styles -- */

.footer {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #009b56;
}

.footer p {
	color: #ffffff;
	font-size: 1rem;
}

.border-bottom-lg-0 {
	border-bottom: 0;
}

.social {
	float: right;
	line-height: 24px;
}

.social i{
	color: #202020;
	display: inline-block;
	text-decoration: none;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 16px;
}

.social i:hover {
	color: #F2B900;
}



/*------------------------------
--------Responsive Styles-------
------------------------------*/

@media only screen and (min-width: 992px) and (max-width:1200px) {
	.hero-text h1 {
		font-size: 54px;
	}
	.hero-text h1 .big-title {
		font-size: 95px;
	}
	.hero-text h2 {
		font-size: 34px;
	}
	.clients h6 {
		padding-top: 0;
	}
}

@media only screen and (max-width: 991px) {
	.logo-holder {
		text-align: center;
	}
	.logo-holder h4 {
		float: none;
		padding: 0;
	}
	header{
    	min-height: 1140px;
	}
	.hero {
		top: 0px;
		transform: translateY(0);
	}
	.arrow {
		margin-top: 130px;
	}
	.hero-text {
		text-align: center;
		margin-top: 110px;
	}
	.hero-form {
		margin-top: 40px;
	}
	.features .container{
	background-image: none;
	}
	.clients {
		text-align: center;
	}
	.clients .img-responsive {
		display: inline-block;
	}
	.clients h6 {
		padding-bottom: 14px;
	}
	.footer-hero h2 {
		font-size: 36px;
		line-height: 40px;
		padding-bottom: 20px;
	}

}

@media only screen and (max-width: 767px) {
	.click-through .hero-text h1{
		font-size: 44px;
		line-height: 50px;
	}

	.click-through .hero-text h1 .big-title{
		font-size: 66px;
		font-weight: 900;
	}

	.click-through .hero-text h2{
		font-size: 44px;
		line-height: 40px;
	}
	.faq-list div h2 {
		text-align: center;
	}
	.footer {
		text-align: center;
	}
	.social {
		float: none;
	}
	.contact h2 {
		font-size: 54px;
		line-height: 40px;
	}
	.offer h2 {
		font-size: 42px;
	}
}

@media only screen and (max-width: 500px) {

	.border-bottom-sm-solid-1-green {
		border-bottom: 1px solid #009b56;
	}

	.mx-sm-3 {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}
	.text-align-center {
		text-align: center;
		padding: 0 2rem;
	}
	.arrow {
		margin-top: 2rem;
	}
	.whatsapp-action {
		height: 3.5rem;
		width: 3.5rem;
		bottom: 6rem;
		right: 1rem;
		padding: 0.4rem;
	}
	.perfil {
		margin-left: 1.5rem;
		width: 85%;
		height: 30rem;
		padding: 1rem;
	}

	.features-list svg {
		margin-top: 6px;
	}

	.services-list {
		display: block;
	}
	header{
    	min-height: 56rem;
	}
	.logo-holder h2 a {
		font-size: 22px;
	}
	.logo-holder h4 {
		font-size: 18px;
		line-height: 30px;
	}
	.hero-text h1{
		font-size: 46px;
	}
	.hero-text h1 .big-title {
		font-size: 88px;
		line-height: 36px;
	}
	.hero-text h2 {
		font-size: 32px;
	}
	.hero-text {
		margin-top: 80px;
	}

	.click-through .hero-text h1{
		font-size: 30px;
		line-height: 40px;
	}

	.click-through .hero-text h1 .big-title{
		font-size: 46px;
		font-weight: 900;
	}

	.click-through .hero-text h2{
		font-size: 30px;
		line-height: 30px;
	}
	.click-through .btn-primary {
		font-size: 20px;
		width: 100%;
		padding: 10px 10px;
	}

	.contact h2 {
		font-size: 42px;
		line-height: 30px;
	}
	.contact h3 {
		font-size: 20px;
	}
	.offer h2 {
		font-size: 38px;
	}

}

@media only screen and (max-width: 400px) {
	.services-list {
		display: block;
	}
	.logo-holder h4 {
	}
	.hero-text h1{
		font-size: 34px;
		line-height: 60px;
	}
	.hero-text h1 .big-title {
		font-size: 64px;
	}
	.hero-text h2 {
		font-size: 22px;
		line-height: 10px;
		padding: 0;
	}
	.hero-text {
		margin-top: 60px;
	}
	.hero-text p {
		font-size: 15px;
		line-height: 20px;
	}
	.hero-form {
		padding: 30px 20px;
	}
	.btn-primary {
		font-size: 24px;
	}
	.contact h2{
		font-size: 30px;
	}
	.contact h3 {
		font-size: 18px;
		padding-top: 8px;
	}
	.footer-hero .btn-primary, .offer .btn-primary {
		font-size: 30px;
	}
	.offer h2 {
		font-size: 34px;
	}
}
